include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml

recursive-include petrofit *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include scripts *
recursive-include petrofit/tests *yaml *yml

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
