# Core Dependencies
Cython
numpy>=1.13
scipy
matplotlib>=3.1.1
astropy>=5.0.3
jupyter
notebook
regions

# Dependencies
photutils>=1.1.0
ipywidgets

# Docs
sphinx
docutils
nbsphinx

# Other
tox
scikit-image
scikit-learn
astropy_helpers
extension_helpers
sphinx_astropy
sphinx_rtd_theme
sphinx-automodapi
